<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form class="form-horizontal" action='' method="POST">
      <fieldset>
        <div id="legend">
          <legend class="">Admin</legend>
        </div>
        <h2>Control manager</h2>
        <div class="control-group">
          <!-- id -->
          <li><a href="{{url_for('addauthbooks', type='add')}}">Add author and books</a></li>
          <li><a href="{{url_for('deleteauthbooks', type='delete')}}">Delete author and books</a></li>
          <li><a href="{{url_for('borrow', type='borrow')}}">Borrow</a></li>
        </div>
      </fieldset>
    </form>
  </body>
</html>