<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form class="form-horizontal" action='' method=''>
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        {%block body%} 
  
                        {%endblock%}
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>