<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form class="form-horizontal" action='' method="POST">
      <fieldset>
        <div id="legend">
          <legend class="">Registration</legend>
        </div>

        <div class="control-group">
          <!-- id -->
          <label class="control-label"  for="id">Id:</label>
          <div class="controls">
            <input type="number" id="id" name="id" placeholder="" class="input-xlarge">
            <p class="help-block">Id can contain only numbers</p>
          </div>
        </div>

        <div class="control-group">
          <!-- name -->
          <label class="control-label"  for="fname">First name:</label>
          <div class="controls">
            <input type="text" id="fname" name="fname" placeholder="" class="input-xlarge">
            <p class="help-block">First name can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <!-- surname -->
          <label class="control-label"  for="lname">Last name:</label>
          <div class="controls">
            <input type="text" id="lname" name="lname" placeholder="" class="input-xlarge">
            <p class="help-block">Last name can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="email" id="email" name="email" placeholder="" class="input-xlarge">
            <p class="help-block">Please provide your Email</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Password-->
          <label class="control-label" for="pass">Password:</label>
          <div class="controls">
            <input type="password" id="pass" name="pass" placeholder="" class="input-xlarge">
            <p class="help-block">Password should be at least 4 characters</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Date -->
          <label class="control-label"  for="datetime">Date:</label>
          <div class="controls">
            <input type="datetime" id="datetime" name="datetime" placeholder="" class="input-xlarge">
            <p class="help-block">Please enter your birthdate</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Sex -->
          <label class="control-label"  for="gender">Sex:</label>
          <div class="controls">
            <input type="text" id="gender" name="gender" placeholder="" class="input-xlarge">
            <p class="help-block">Please enter your gender only M or F</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Class -->
          <label class="control-label"  for="job">Job:</label>
          <div class="controls">
            <input type="text" id="job" name="job" placeholder="" class="input-xlarge">
            <p class="help-block">Job can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Point -->
          <label class="control-label"  for="point">Point:</label>
          <div class="controls">
            <input type="number" id="point" name="point" placeholder="" class="input-xlarge">
            <p class="help-block">Point can contain only numbers</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Phone number -->
          <label class="control-label"  for="phonenumber">Phone number:</label>
          <div class="controls">
            <input type="tel" id="phonenumber" name="phonenumber" placeholder="" class="input-xlarge">
            <p class="help-block">Please enter your phone number</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </body>
</html>